<div class="container border border-primary rounded my-4 p-4">
  <header>
    <h2>Todo List</h2>
    <form class="d-flex">
      <input type="text" placeholder="Your Work ..." class="form-control m-2" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="work" />
      <input type="email" placeholder="Your Email ..." class="form-control m-2" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="email" />
      <button class="btn btn-primary m-2" (click)="addCart()">Submit</button>
    </form>
  </header>

  <main>
    
      <app-cart></app-cart>
    
  </main>
</div>